language: node_js
node_js:
  - stable
install:
  - npm install
script:
  - npm test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: master